{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block head%}
<link href="{% static 'css/css_users/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% if messages %}
<div>
    <br> </br>
    {% for message in messages %}
    <div {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

{% if form.errors %}
<div class="alert alert-danger" role="alert">
    <span>{{ form.non_field_errors }}</span>
</div>
{% endif %}

<div class="container pt-5">
    <div class="mx-auto card login-form" style="width: 450px">
        <div class="color-change">
        <div class="card-body">
            <form method="post" class="form-signin">
                {% csrf_token %}
                <img class="mb-4 mx-auto d-block logo" src="{% static 'img/logomak_logo.png' %}" alt="Logo" width="90"
                    height="90">

                <h3 id="mid" class="mb-3 font-weight-normal">{% trans "Login" %}</h3>
                <div class="form-group">
                    <label for="email">{% trans "Email" %}:</label>
                    {{ form.email }}
                    <span>{{form.errors.email}}</span>
                </div>
                <div class="form-group">
                    <label for="pswd">{% trans "Password" %}:</label>
                    {{ form.password }}

                </div>
                <button type="submit" class="btn btn-block btn-primary">{% trans "Submit" %}</button>
            </form>
            <div class="form-group text-center">
                <a href="{% url 'users:password_reset' %}" class="ForgetPwd" value="Login">{% trans "Forget Password"%}?</a>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}