{% autoescape off %}
<body>
    <p>{% trans "Hi" %} {{ user.first_name }},</p>
    <p>{% trans "You have requested a password reset for your account. Click on the following link to set a new password" %}:</p>
    <p>
        <a href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}">
            {% trans "Password Reset Link" %}
        </a>
    </p>
    <p>{% trans "If you didn't request a password reset, please ignore this email" %}.</p>
    <p>{% trans "Thank you" %},</p>
    <p>{% trans "Our Team" %}</p>
{% endautoescape %}