/* Стилізація слайдера */
.slider {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.slider-controls .prev-arrow,
.slider-controls .next-arrow {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.slider-controls .prev-arrow {
    margin-right: 10px;
}

.slider-controls .next-arrow {
    margin-left: 10px;
}

.slider-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #f5c987;
    color: #201e1e;
    text-decoration: none;
}

/* Стилізація блоку з трьома зображеннями */
.feature-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 30px auto;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 30px;
}

.feature-item {
    flex-basis: 20%;
    text-align: center;
    margin: 20px;
}

.feature-item img {
    width: 50%;
    height: auto;
}



/* Стилізація блоку "Наше меню" */
.menu {
    text-align: center;
    margin-bottom: 30px;
    color: #454141;
}

.menu h2 {
    margin-bottom: 10px;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li {
    margin: 42px;
}

.menu li img {
    width: 100px;
    height: auto;
    background-color: #f3aa51;
}

.menu li span {
    display: block;
}

/* Стилізація блоку "Популярні страви" */
.popular-dishes {
    text-align: center;
    margin-bottom: 30px;
}

.popular-dishes h2 {
    margin-bottom: 10px;
}

.dish-slider {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 280px;
    margin-top: 10px;
}

.dish-card {
    flex: 0 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
    margin: 0 10px;
    position: relative;
}

.dish-card img {
    width: 100%;
    height: auto;
    max-width: 300px; /* Adjust the desired width here */
    max-height: 300px; /* Adjust the desired height here */
    object-fit: cover;
    border-radius: 8px;
}

.dish-card a {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #2b2727;
    text-decoration: none;
}

.ltx-arrow-left,
.ltx-arrow-right {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.ltx-arrow-left {
    left: 10px;
}

.ltx-arrow-right {
    right: 10px;
}

.ltx-arrow-left:hover,
.ltx-arrow-right:hover {
    background-color: #aaa;
}


/* Стилізація інформативного блоку */
.info-block {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.info-content {
    display: flex;
    align-items: center;
}

.info-content img {
    width: 450px;
    height: auto;
    margin-right: 40px;
}

/* Стилізація блоку з картою */
.map {
    text-align: center;
    margin-bottom: 30px;
}

.map iframe {
    width: 100%;
    max-width: 600px;
    height: 450px;
    border: 0;
}

.frame {
    border: 1px rgb(230, 212, 179);
    padding: 10px;
    margin-bottom: 10px;
}