@import url(//fonts.googleapis.com/css?family=Ubuntu);

body {
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #5993bb;
}

a:hover {
    color: #77b6e2;
}

a.button,
input[type="submit"] {
    color: #fff;
    background: #5993bb;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    border: 0;
}

a.button.light {
    color: #666;
    background: #ededed;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table th,
table td {
    text-align: left;
    font-size: 14px;
    padding: 10px;
    margin: 0;
}

tbody tr:nth-child(odd) {
    background: #efefef;
}

tbody tr.subtotal {
    background: #ccc;
}

thead th,
tbody tr.total {
    background: #5993bb;
    color: #fff;
    font-weight: bold;
}

table.cart {
    margin-bottom: 40px;
}

table.cart img {
    width: 180px;
}

tbody td.num {
    text-align: right;
}

td input[type="submit"] {
    font-size: 12px;
    padding: 4px 10px;
}

form p label,
form p input {
    float: left;
    clear: both;
}

form p label {
    font-size: 14px;
    padding-bottom: 4px;
}

form p input {
    width: 300px;
    font-size: 13px;
    margin-bottom: 10px;
    padding: 10px 12px;
    border: 0;
    background: #efefef;
    color: #666;
    border-radius: 4px;
}

ul.errorlist {
    float: left;
    color: #ff0000;
    clear: both;
    font-size: 13px;
    margin: 0 0 0 10px;
    padding: 10px 0;
}

#header {
    padding: 10px 30px;
    font-size: 18px;
    overflow: auto;
    position: relative;
}

.header-container {
    display: flex;
    align-items: center;
    max-width: 1300px; /* Змініть значення max-width для зменшення ширини контейнера */
    margin: 0 auto;
    gap: 10px;
}

#header .menu {
    display: flex;
    align-items: center;
    font-size: 24px;
}

#header .right-menu {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-left: 43%;
}

#header .logo {
    font-family: 'Ubuntu', sans-serif;
    color: #ec0b0b;
    font-size: 18px;
    margin-right: 5px;
}

#subheader .cart {
    float: right;
    padding-top: 12px;
    margin-right: 8.3%;
}

.page-header {
    text-align: center;
    background: #f5c987;
}

.head-step {
    margin-right: 25px; /* Змініть значення margin-right для збільшення відстані між елементами */
}

#content {
    padding: 0 100px;
    overflow: hidden;
}

#sidebar {
    width: 220px;
    padding: 30px 20px 0 0;
    float: left;
}

#sidebar ul {
    margin: 0;
    padding: 0;
}

#sidebar ul li {
    margin: 0;
    list-style: none;
    padding: 10px 14px;
}

#sidebar ul li a {
    display: block;
}

#sidebar ul li.selected {
    background: #5993bb;
    border-radius: 4px;
}

#sidebar ul li.selected a {
    color: #fff;
}

#main {
    float: left;
    width: 96%;
    margin-right: -220px;
    overflow: hidden;
}

.product-list .item {
    width: calc(33.33% - 60px);
    padding: 10px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    line-height: 1.2;
    margin-left: 30px;
    margin-right: 30px;
}

.product-list .item:first-child {
    margin-left: 0;
}

.product-list .item:last-child {
    margin-right: 0;
}

.product-list .item img {
    width: 100%;
    margin-bottom: 8px;
}

.product-detail {
    text-align: justify;
}

.product-detail .price {
    color: #333;
    font-size: 28px;
    font-weight: bold;
}

.product-detail img {
    width: 40%;
    float: left;
    padding: 0 20px 20px 0;
}

.product-detail h1 {
    margin-bottom: 0;
}

.product-detail h2 {
    margin-top: 10px;
}

.order-form {
    float: left;
}

.order-info {
    float: right;
    width: 300px;
    background: #efefef;
    padding: 10px 20px;
    color: #333;
    border-bottom: 4px solid #5993bb;
}

.order-info h3 {
    color: #5993bb;
}

.order-info ul li {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.order-info p {
    font-weight: bold;
    float: right;
}

.order-info span {
    float: right;
}

.neg {
    color: #dc1616;
}

.recommendations {
    clear: both;
}

.recommendations div {
    float: left;
}

.recommendations img {
    width: 200px
}

.recommendations p {
    clear: both;
}

.recommendations.cart {
    width: 60%;
    float: left;
    overflow: auto;
}

.recommendations.cart h3 {
    margin-top: 0;
}

.recommendations.cart .item {
    margin-right: 10px;
}

.recommendations.cart img {
    width: 120px;
}

/* braintree hosted fields */
form div.field {
    font-size: 13px;
    color: #666;
    width: 300px;
    height: 22px;
    margin-bottom: 10px;
    padding: 6px 12px;
    border: 0;
    background: #efefef;
    color: #666;
    border-radius: 4px;
}

.custom-container {
    position: relative;
}

.custom-container::after {
    content: "";
    display: block;
    width: 50px;
    /* Налаштуйте ширину пустого блоку */
    height: 100%;
    /* Встановіть висоту, яка відповідає вмісту контейнера */
    position: absolute;
    top: 0;
    right: 50px;
    /* Зсунути блок зправа */
}

.pagination-bottom-center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-bottom-center .pagination {
    margin: 0;
}

.pagination-bottom-center .pagination li {
    display: inline-block;
}

.pagination-bottom-center .pagination li a {
    padding: 6px 12px;
    text-decoration: none;
}

.pagination-bottom-center .pagination .active a {
    background-color: #007bff;
    color: #fff;
}

.pagination-bottom-center .pagination .disabled a {
    color: #6c757d;
    pointer-events: none;
}

img {
    border-radius: 8px;
    width: 50%;
    height: auto;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #f5c987;
    margin-bottom: 20px;
}

.vertical-line {
    width: 1px;
    height: 100vh;
    background-color: #f5c987;
}

.color-change:hover {
    background-color: #fef8f3;
}

.waiver-of-rights {
    margin-right: 8.3%;
}